body {
  background: none repeat scroll 0 0 #F2F2F2;
  min-width: 1044px;
  margin-top: 48px;
}

.hentry {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: block;
}

.hentry {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    overflow: hidden;
    padding: 1.4em;
    position: relative;
    height: 693px;
}
.content {
  margin-top: 0px !important;
}

.content-wrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
    padding: 1.5%;
    position: relative;
    z-index: 0;
}

#footer {
    background-color: #464646;
    background-image: -moz-linear-gradient(center bottom , #373737, #464646 5px);
    color: #CCCCCC;
    direction: ltr;
    font: 13px/28px sans-serif;
    height: 28px;
    left: 0;
    min-width: 600px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

#footer * {
    color: #CCCCCC;
    font: 13px/28px sans-serif;
    height: auto;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    position: static;
    text-shadow: 0 -1px 0 #444444;
    text-transform: none;
    width: auto;
}

#footer ul {
    text-align: left;
}

#footer ul li:before, #footer ul li:after {
  content: normal;
}

#footer ul li {
    background: none repeat scroll 0 center transparent;
    clear: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}
#footer li {
  float: left;
}


#slideInfo {
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

#notesInfo {
  font-weight: bold;
  padding-left: 24px;
  background: transparent url(/file/media/img/notes.png) center left no-repeat;
}


.content ul li {
  padding: 0.1em !important;
}

pre {
  background-color: #eeeeee !important;
  border: 1px solid black;
}
code {
  font-size: 20px;
}

.lefty > p {
  text-align: left !important;
}

.content ol, .content ul {
  font-size: 2em;
}
ol ol, ul ul, ol ul, ul ol {
  font-size: 80% !important;
}

.content h1 {
  margin: 0.2em 0;
}
.content p {
  margin: 0.7em;
}

.slimcode pre {
  margin: 0.5em 40px;
}
